global
    maxconn 50000

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

frontend health
    bind *:8404
    monitor-uri /health
    monitor fail if { nbsrv(url_shortener) lt 1 }

frontend http_front
    bind *:80
    default_backend url_shortener

backend url_shortener
    balance leastconn
    option httpchk GET /status
    server-template url-shortener 10 url-shortener:8080 check resolvers docker init-addr libc,none
