global
    maxconn 50000

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

frontend health
    bind *:8404
    monitor-uri /health
    monitor fail if { nbsrv(url_shortener) lt 1 }

frontend http_front
    bind *:80
    acl is_api path_beg /api.yaml
    acl is_swagger_asset path_beg /swagger-ui
    acl is_swagger_asset path /swagger-initializer.js
    acl is_swagger_asset path /index.css
    acl is_swagger_asset path_beg /favicon
    acl is_swagger_asset path /openapi.yaml
    use_backend api_docs if is_api or is_swagger_asset
    default_backend url_shortener

backend api_docs
    mode http
    http-request set-path / if { path /api.yaml }
    server api-docs api-docs:8080 check

backend url_shortener
    balance leastconn
    option httpchk GET /status
    server-template backend 10 backend:8080 check resolvers docker init-addr libc,none
